<?xml version='1.0' encoding='utf-8'?>
<widget id="com.markpaxton.demo.phonegap" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HelloCordova</name>
    <description>
        A sample PhoneGap application demonstrating some of my work.
    </description>
    <author email="markpaxton3@gmail.com" href="http://markpaxton.site88.net">
        Mark Paxton
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
</widget>
